@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SummerPixel";
  font-weight: 400;
  src: url("../fonts/SummerPixelWide22Regular-4BoW4.woff")
    format("woff");
}

body {
  margin: 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 400ms;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
